.Board .row {
    display: block;
    height: 50px;
}
/*.Board.turn-b {
    transform: rotate(0deg);
    transition: transform .5s;
}
.Board.turn-w {
    transform: rotate(-180deg);
    transition: transform .5s;
}*/